AlphaElectric/Schemas/Scryber/Scryber.Styles.v09.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="Scryber.Styles, Scryber.Styles, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
           elementFormDefault="qualified"
    xmlns="Scryber.Styles, Scryber.Styles, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
    xmlns:mstns="Scryber.Styles, Scryber.Styles, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:pdf="Scryber.Components, Scryber.Components, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
    xmlns:data="Scryber.Data, Scryber.Components, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe"
    >

  <xs:import namespace="Scryber.Components, Scryber.Components, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" schemaLocation="Scryber.Components.v09.xsd" />
  <xs:import namespace="Scryber.Data, Scryber.Components, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" schemaLocation="Scryber.Data.v09.xsd" />

  <xs:complexType name="StyleDefinitonListType" >
    <xs:complexContent>
      <xs:extension base="StyleListType" >
        <xs:attribute name="code-file" type="xs:string" use="optional" />
        <xs:attribute name="inherits" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Styles" type="StyleDefinitonListType" />

  <xs:complexType name="StyleListType" >
    <xs:sequence minOccurs="0" maxOccurs="unbounded" >
      <xs:element name="Style" type="StyleDefinitionType" minOccurs="0" maxOccurs="unbounded" ></xs:element>
      <xs:element name="Styles-Ref" type="StyleRefType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StyleRefType" >
    <xs:attribute name="source" use="optional" type="xs:anyURI" />
    <xs:attribute name="type" use="optional" type="xs:string" />
    <xs:attribute name="id" use="optional" type="pdf:IDType" />
  </xs:complexType>

  <xs:complexType name="StyleDefinitionType" >
    <xs:complexContent>
      <xs:extension base="StyleType" >
        <xs:attribute name="applied-class" type="pdf:BindableClassNameType" />
        <xs:attribute name="applied-type" type="pdf:BindableObjectTypeEnum" />
        <xs:attribute name="applied-id" type="pdf:BindableIDType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StyleType" >
    <xs:sequence minOccurs="0" maxOccurs="unbounded" >
      <xs:choice minOccurs="0" maxOccurs="1" >
        <xs:element ref="StyleItemBase" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" use="optional" type="pdf:IDType" />
    <!--<xs:attribute name="on-databinding" use="optional" type="pdf:MethodNameType" />
    <xs:attribute name="on-databound" use="optional" type="pdf:MethodNameType" />-->
  </xs:complexType>

  
  <!-- 
  -
  Base style type that all explicit style items are extensions of.
  -
  -->
  
  <xs:complexType name="AStyleItemBase" abstract="true" />
  
  <xs:element name="StyleItemBase" type="AStyleItemBase" abstract="true" />
 
  
  <!-- Position -->
  
  <xs:complexType name="Style-PositionType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attribute name="v-align" type="pdf:BindableVerticalAlignEnum" use="optional" />
        <xs:attribute name="h-align" type="pdf:BindableHorizontalAlignEnum" use="optional" />
        <xs:attribute name="mode" type="pdf:BindablePositionModeEnum" use="optional" />
        <xs:attribute name="x" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="y" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="width" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="height" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="full-width" type="pdf:BindableBooleanType" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Position" type="Style-PositionType" substitutionGroup="StyleItemBase" />

  <!-- Padding, Margins -->
  
  <xs:complexType name="Style-ThicknessType" >
    <xs:complexContent>
      <xs:extension base="AStyleItemBase">
        <xs:attributeGroup ref="ThicknessStyleAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Padding" type="Style-ThicknessType" substitutionGroup="StyleItemBase" />
  <xs:element name="Margins" type="Style-ThicknessType" substitutionGroup="StyleItemBase" />
  <xs:element name="Clipping" type="Style-ThicknessType" substitutionGroup="StyleItemBase" />

  
  <!-- Background -->
  
  <xs:complexType name="Style-BackgroundType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attributeGroup ref="ContentStyleAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Background" type="Style-BackgroundType" substitutionGroup="StyleItemBase" />

  
  <!-- Border-->

  <xs:complexType name="Style-BorderType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attributeGroup ref="LineStyleAttributes" ></xs:attributeGroup>
        <xs:attribute name="corner-radius" type="pdf:BindableUnitType" use="optional" default="0.0" />
        <xs:attribute name="sides" use="optional" type="pdf:BindableSideFlagsEnum" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Border" type="Style-BorderType" substitutionGroup="StyleItemBase" />
  
  <!-- Stroke -->
  
  <xs:complexType name="Style-PenType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attributeGroup ref="LineStyleAttributes" ></xs:attributeGroup>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Stroke" type="Style-PenType" substitutionGroup="StyleItemBase" />

  
  <!-- Fill -->
  
  <xs:complexType name="Style-FillType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attributeGroup ref="ContentStyleAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Fill" type="Style-FillType" substitutionGroup="StyleItemBase" />

  <!-- Font -->

  <xs:complexType name="Style-FontType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attributeGroup ref="FontAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Font" type="Style-FontType" substitutionGroup="StyleItemBase"  />

  
  <!-- Columns -->

  <xs:complexType name="Style-ColumnsType"  >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase">
        <xs:attribute name="count" type="pdf:BindableIntgerType" use="optional" />
        <xs:attribute name="alley-width" type="pdf:BindableUnitType" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Columns" type="Style-ColumnsType" substitutionGroup="StyleItemBase" />
  
  
  <!-- Text -->

  <xs:complexType name="Style-TextType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attribute name="leading" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="wrap" type="pdf:BindableTextWrapEnum" use="optional" default="Auto" />
        <xs:attribute name="first-indent" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="date-format" type="pdf:BindableStringType" use="optional" />
        <xs:attribute name="number-format" type="pdf:BindableStringType" use="optional" />
        <xs:attribute name="decoration" type="pdf:BindableTextDecorationEnum" use="optional" />
        <xs:attribute name="whitespace-significant" type="pdf:BindableBooleanType" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Text" type="Style-TextType" substitutionGroup="StyleItemBase" />

  
  <!-- Overflow -->

  <xs:complexType name="Style-OverflowType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attribute name="action" type="pdf:BindableOverflowActionEnum" use="optional" />
        <xs:attribute name="split" type="pdf:BindableOverflowSplitEnum" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Overflow" type="Style-OverflowType" substitutionGroup="StyleItemBase" />
  
  
  <!-- Outline-->


  <xs:complexType name="Style-OutlineType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attribute name="color" type="pdf:BindableColorEnum" use="optional" />
        <xs:attribute name="bold" type="pdf:BindableBooleanType" use="optional" />
        <xs:attribute name="italic" type="pdf:BindableBooleanType" use="optional" />
        <xs:attribute name="open" type="pdf:BindableBooleanType" use="optional" />
        <xs:attribute name="fit" type="pdf:BindablePageFitEnum" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Outline" type="Style-OutlineType" substitutionGroup="StyleItemBase" />

  
  <!-- Overlay-Grid -->

  <xs:complexType name="Style-OverlayGridType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attribute name="show" type="pdf:BindableBooleanType" use="optional" />
        <xs:attribute name="color" type="pdf:BindableColorEnum" use="optional" />
        <xs:attribute name="spacing" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="opacity" type="pdf:BindableFloatType" use="optional" />
        <xs:attribute name="x-offset" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="y-offset" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="fill-columns" type="pdf:BindableBooleanType" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Overlay-Grid" type="Style-OverlayGridType" substitutionGroup="StyleItemBase" />

  <!-- Badge -->

  <xs:complexType name="Style-ScryberBadgeType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attribute name="corner" type="pdf:BindableCornerType" use="optional" />
        <xs:attribute name="show" type="pdf:BindableBooleanType" use="optional" />
        <xs:attribute name="display" type="pdf:BindableReversibleImageType" use="optional" />
        <xs:attribute name="x-offset" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="y-offset" type="pdf:BindableUnitType" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Badge" type="Style-ScryberBadgeType" substitutionGroup="StyleItemBase" />
  
  <!-- Page -->

  <xs:complexType name="Style-PageType" >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase" >
        <xs:attribute name="size" type="pdf:BindablePageSizeEnum" use="optional" default="A4" />
        <xs:attribute name="orientation" type="pdf:BindablePageOrientationEnum" use="optional" default="Portrait" />
        <xs:attribute name="width" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="height" type="pdf:BindableUnitType" use="optional" />
        <xs:attribute name="number-style" type="pdf:BindablePageNumberingEnum" use="optional" />
        <xs:attribute name="number-start-index" type="pdf:BindableIntgerType" use="optional" default="1" />
        <xs:attribute name="number-prefix" type="pdf:BindableStringType" use="optional" />
        <xs:attribute name="display-format" type="pdf:BindableStringType" use="optional" form="qualified" />
        <xs:attribute name="group-count-hint" type="pdf:BindableIntgerType" use="optional" form="qualified" />
        <xs:attribute name="total-count-hint" type="pdf:BindableIntgerType" use="optional" form="qualified" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Page" type="Style-PageType" substitutionGroup="StyleItemBase" />

  <!-- Table -->

  <xs:complexType name="Style-TableType"  >
    <xs:complexContent >
      <xs:extension base="AStyleItemBase">
        <xs:attribute name="cell-column-span" type="pdf:BindableIntgerType" use="optional" />
        <xs:attribute name="row-repeat" type="pdf:BindableRowRepeatEnum" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Table" type="Style-TableType" substitutionGroup="StyleItemBase" />

  <!-- List -->
  
  <xs:complexType name="Style-ListType" >
    <xs:complexContent>
      <xs:extension base="AStyleItemBase">
        <xs:attribute name="number-style" type="pdf:BindableListNumberStyleEnum" use="optional" default="Decimals" form="unqualified"/>
        <xs:attribute name="number-prefix" type="pdf:BindableStringType" use="optional"  form="unqualified" />
        <xs:attribute name="number-postfix" type="pdf:BindableStringType" use="optional" form="unqualified" />
        <xs:attribute name="number-alignment" type="pdf:BindableHorizontalAlignEnum" use="optional" default="Right" form="unqualified" />
        <xs:attribute name="number-concat" type="pdf:BindableBooleanType" use="optional" form="unqualified" />
        <xs:attribute name="number-inset" type="pdf:BindableUnitType" use="optional" form="unqualified" />
        <xs:attribute name="number-group" type="pdf:BindableStringType" use="optional" form="unqualified" />
        <xs:attribute name="item-label" type="pdf:BindableStringType" use="optional" form="unqualified" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="List" type="Style-ListType" substitutionGroup="StyleItemBase" />
  
  <!--<xs:complexType name="Style-ClipType" >
    <xs:sequence minOccurs="0" maxOccurs="1" >
      <xs:element name="Path" ></xs:element>
    </xs:sequence>
    <xs:attribute name="mode" type="pdf:BindablePositionModeEnum" use="optional" />
    <xs:attribute name="x" type="pdf:BindableUnitType" />
    <xs:attribute name="y" type="pdf:BindableUnitType" />
    <xs:attribute name="width" type="pdf:BindableUnitType" />
    <xs:attribute name="height" type="pdf:BindableUnitType" />
  </xs:complexType>-->

  <!--<xs:complexType name="Style-TransformType" >
    <xs:attributeGroup ref="TransformAttributes" />
  </xs:complexType>-->

  
  <!-- 
  -
  Attribute Groups
  -
  -->

  <xs:attributeGroup name="TableCellAttributes" >
    <xs:attribute name="column-span" type="pdf:BindableIntgerType" use="optional" form="qualified" />
  </xs:attributeGroup>
  
  <xs:attributeGroup name="TableRowAttributes" >
    <xs:attribute name="repeat" type="pdf:BindableRowRepeatEnum" use="optional" form="qualified" />
  </xs:attributeGroup>
  
  <xs:attributeGroup name="ColumnAttributes" >
    <xs:attribute name="column-count" type="pdf:BindableIntgerType" use="optional" form="qualified" />
    <xs:attribute name="alley-width" type="pdf:BindableUnitType" use="optional" form="qualified" />
  </xs:attributeGroup>


  <xs:attributeGroup name="ListStyleAttributes" >
    <xs:attribute name="number-style" type="pdf:BindableListNumberStyleEnum" use="optional" default="Decimals" form="qualified"/>
    <xs:attribute name="number-prefix" type="pdf:BindableStringType" use="optional"  form="qualified" />
    <xs:attribute name="number-postfix" type="pdf:BindableStringType" use="optional" form="qualified" />
    <xs:attribute name="number-alignment" type="pdf:BindableHorizontalAlignEnum" use="optional" default="Right" form="qualified" />
    <xs:attribute name="number-concat" type="pdf:BindableBooleanType" use="optional" form="qualified" />
    <xs:attribute name="number-inset" type="pdf:BindableUnitType" use="optional" form="qualified" />
    <xs:attribute name="number-group" type="pdf:BindableStringType" use="optional" form="qualified" />
    <xs:attribute name="item-label" type="pdf:BindableStringType" use="optional" form="qualified" />
    <xs:attribute name="alley-width" type="pdf:BindableUnitType" use="optional" form="qualified" />
  </xs:attributeGroup>

  <xs:attributeGroup name="ListItemStyleAttributes" >
    <xs:attribute name="number-alignment" type="pdf:BindableHorizontalAlignEnum" use="optional" default="Right" form="qualified" />
    <xs:attribute name="number-inset" type="pdf:BindableUnitType" use="optional" form="qualified" />
    <xs:attribute name="item-label" type="pdf:BindableStringType" use="optional" form="qualified" />
    <xs:attribute name="alley-width" type="pdf:BindableUnitType" use="optional" form="qualified" />
  </xs:attributeGroup>
  
  <xs:attributeGroup name="OutlineStyleAttributes" >
    <xs:attribute name="color" type="pdf:BindableColorEnum" use="optional" form="qualified" />
    <xs:attribute name="bold" type="pdf:BindableBooleanType" use="optional" form="qualified" />
    <xs:attribute name="italic" type="pdf:BindableBooleanType" use="optional" form="qualified" />
    <xs:attribute name="open" type="pdf:BindableBooleanType" use="optional" form="qualified" />
  </xs:attributeGroup>

  <xs:attributeGroup name="PaperStyleAttributes" >
    <xs:attribute name="paper-size" type="pdf:BindablePageSizeEnum" use="optional" form="qualified" />
    <xs:attribute name="paper-orientation" type="pdf:BindablePageOrientationEnum" use="optional" form="qualified" />
    <xs:attribute name="overflow-action" type="pdf:BindableOverflowActionEnum" use="optional" form="qualified" />
  </xs:attributeGroup>

  <xs:attributeGroup name="PageNumberAttributes" >
    <xs:attribute name="page-number-style" type="pdf:BindablePageNumberingEnum" use="optional" form="qualified" />
    <xs:attribute name="page-number-prefix" type="pdf:BindableStringType" use="optional" form="qualified" />
    <xs:attribute name="page-number-start-index" type="pdf:BindableIntgerType" use="optional" form="qualified" />
  </xs:attributeGroup>

  <xs:attributeGroup name="PageNumberDisplayAttributes" >
    <xs:attribute name="display-format" type="pdf:BindableStringType" use="optional" form="qualified" />
    <xs:attribute name="group-count-hint" type="pdf:BindableIntgerType" use="optional" form="qualified" />
    <xs:attribute name="total-count-hint" type="pdf:BindableIntgerType" use="optional" form="qualified" />
  </xs:attributeGroup>

  <xs:attributeGroup name="InlineElementNonPostionedStyleAttributes" >
    <xs:attribute name="class" form="qualified" use="optional" type="xs:string" />
    <xs:attribute name="fill-color" form="qualified" use="optional" type="pdf:BindableColorEnum" />
    <xs:attribute name="fill-image" form="qualified" use="optional" type="pdf:BindableFilePathType" />
    <xs:attribute name="fill-repeat" form="qualified" use="optional" type="pdf:BindableImageRepeatEnum" />
    <xs:attribute name="fill-opacity" form="qualified" use="optional" type="pdf:BindableFloatType" />
    <xs:attribute name="bg-color" form="qualified" use="optional" type="pdf:BindableColorEnum" />
    <xs:attribute name="bg-image" form="qualified" use="optional" type="pdf:BindableFilePathType" />
    <xs:attribute name="bg-repeat" form="qualified" use="optional" type="pdf:BindableImageRepeatEnum" />
    <xs:attribute name="bg-opacity" form="qualified" use="optional" type="pdf:BindableFloatType" />
    <xs:attribute name="border-color" form="qualified" use="optional" type="pdf:BindableColorEnum" />
    <xs:attribute name="border-width" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="border-dash" form="qualified" use="optional" type="pdf:BindableDashType" />
    <xs:attribute name="border-opacity" form="qualified" use="optional" type="pdf:BindableFloatType" />
    <xs:attribute name="border-sides" form="qualified" use="optional" type="pdf:BindableSideFlagsEnum" />
    <xs:attribute name="border-corner-radius" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="stroke-color" form="qualified" use="optional" type="pdf:BindableColorEnum" />
    <xs:attribute name="stroke-width" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="stroke-dash" form="qualified" use="optional" type="pdf:BindableDashType" />
    <xs:attribute name="stroke-opacity" form="qualified" use="optional" type="pdf:BindableFloatType" />
    <xs:attribute name="font-family" form="qualified" use="optional" type="pdf:BindableFontFamilyEnum" />
    <xs:attribute name="font-size" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="font-bold" form="qualified" use="optional" type="pdf:BindableBooleanType" />
    <xs:attribute name="font-italic" form="qualified" use="optional" type="pdf:BindableBooleanType" />
    <xs:attributeGroup ref="data:Data-ComponentAttributes" />
  </xs:attributeGroup>

  <xs:attributeGroup name="InlineElementStyleAttributes" >
    <xs:attributeGroup ref="InlineElementNonPostionedStyleAttributes" />
    <xs:attribute name="x" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="y" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="width" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="height" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="padding" form="qualified" use="optional" type="pdf:BindableThicknessType" />
    <xs:attribute name="margins" form="qualified" use="optional" type="pdf:BindableThicknessType" />
    <xs:attribute name="h-align" form="qualified" use="optional" type="pdf:BindableHorizontalAlignEnum" />
    <xs:attribute name="v-align" form="qualified" use="optional" type="pdf:BindableVerticalAlignEnum" />
    <xs:attribute name="position-mode" form="qualified" use="optional" type="pdf:BindablePositionModeEnum" />
    <xs:attribute name="full-width" form="qualified" use="optional" type="pdf:BindableBooleanType" />
    <xs:attribute name="text-wrap" form="qualified" use="optional" type="pdf:BindableTextWrapEnum" />
    <xs:attribute name="text-leading" form="qualified" use="optional" type="pdf:BindableUnitType" />
    <xs:attribute name="text-decoration" form="qualified" use="optional" type="pdf:BindableTextDecorationEnum" />
    <xs:attribute name="overflow-split" form="qualified" use="optional" type="pdf:BindableOverflowSplitEnum" />
  </xs:attributeGroup>

  <xs:attributeGroup name="NumberFormatStyleAttributes" >
    <xs:attribute name="number-format" form="qualified" use="optional" type="pdf:BindableStringType" />
  </xs:attributeGroup>

  <xs:attributeGroup name="DateFormatStyleAttributes" >
    <xs:attribute name="date-format" form="qualified" use="optional" type="pdf:BindableStringType" />
  </xs:attributeGroup>

  <xs:attributeGroup name="PolygonBaseStyleAttributes" >
    <xs:attribute name="fill-style" form="qualified" use="optional" type="pdf:BindableFillStyleEnum" />
    <xs:attribute name="rotate" form="qualified" use="optional" type="pdf:BindableFloatType" />
    <xs:attribute name="closed" form="qualified" use="optional" type="pdf:BindableBooleanType"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="PathStyleAttributes" >
    <xs:attribute name="fill-style" form="qualified" use="optional" type="pdf:BindableFillStyleEnum" />
    <xs:attribute name="d" form="unqualified" use="optional" type="pdf:BindableGraphicPathDataType" />
  </xs:attributeGroup>
  
  
  <xs:attributeGroup name="PolygonStyleAttributes" >
    <xs:attribute name="vertex-count" form="qualified" use="optional" type="pdf:BindableIntgerType" />
    <xs:attribute name="vertex-step" form="qualified" use="optional" type="pdf:BindableIntgerType"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="PolyPointsStyleAttributes">
    <xs:attribute name="points" form="unqualified" use="optional" type="pdf:BindableArrayPointType" />
  </xs:attributeGroup>

  <xs:attributeGroup name="PanelStyleAttributes" >
    <xs:attribute name="overflow-action" form="qualified" use="optional" type="pdf:BindableOverflowActionEnum" />
    <xs:attribute name="clipping-inset" form="qualified" use="optional" type="pdf:BindableThicknessType" />
  </xs:attributeGroup>

  <!--<xs:attributeGroup name="TransformAttributes" >
    <xs:attribute name="scale-x" type="pdf:BindableFloatType" use="optional" />
    <xs:attribute name="scale-y" type="pdf:BindableFloatType" use="optional" />
    <xs:attribute name="rotate" type="pdf:BindableFloatType" use="optional" />
    <xs:attribute name="skew-x" type="pdf:BindableFloatType" use="optional" />
    <xs:attribute name="skew-y" type="pdf:BindableFloatType" use="optional" />
    <xs:attribute name="offset-h" type="pdf:BindableFloatType" use="optional" />
    <xs:attribute name="offset-v" type="pdf:BindableFloatType" use="optional" />
  </xs:attributeGroup>-->


  <xs:attributeGroup name="ThicknessStyleAttributes" >
    <xs:attribute name="top" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="left" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="bottom" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="right" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="all" type="pdf:BindableUnitType" use="optional" />
  </xs:attributeGroup>



  <xs:attributeGroup name="FontAttributes">
    <xs:attribute name="family" type="pdf:BindableFontFamilyEnum" use="optional" />
    <xs:attribute name="bold" type="pdf:BindableBooleanType" use="optional" />
    <xs:attribute name="italic" type="pdf:BindableBooleanType" use="optional" />
    <xs:attribute name="size" type="pdf:BindableUnitType" use="optional" />
  </xs:attributeGroup>


  <xs:attributeGroup name="LineStyleAttributes" >
    <xs:attribute name="style" type="pdf:BindableLineStyleEnum" use="optional" />
    <xs:attribute name="color" type="pdf:BindableColorEnum" use="optional" />
    <xs:attribute name="width" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="dash" type="pdf:BindableDashType" use="optional" />
    <xs:attribute name="ending" type="pdf:BindableLineEndingEnum" use="optional" default="Round" />
    <xs:attribute name="join" type="pdf:BindableLineJoinEnum" use="optional" default="Round" />
    <xs:attribute name="mitre" type="pdf:BindableFloatType" use="optional" default="2.0" />
    <xs:attribute name="opacity" type="pdf:BindableFloatType" use="optional" default="1.0" />
  </xs:attributeGroup>



  <xs:attributeGroup name="ContentStyleAttributes">
    <xs:attribute name="style" type="pdf:BindableFillStyleEnum" use="optional" />
    <xs:attribute name="color" type="pdf:BindableColorEnum" use="optional" />
    <xs:attribute name="opacity" type="pdf:BindableFloatType" use="optional" default="1.0" />
    <xs:attribute name="img-src" type="pdf:BindableFilePathType" use="optional" />
    <xs:attribute name="repeat" type="pdf:BindableImageRepeatEnum" use="optional" default="RepeatBoth" />
    <xs:attribute name="x-pos" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="y-pos" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="x-step" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="y-step" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="x-size" type="pdf:BindableUnitType" use="optional" />
    <xs:attribute name="y-size" type="pdf:BindableUnitType" use="optional" />
  </xs:attributeGroup>


  
</xs:schema>
